# Loss function definition
{% set name = config.training.loss.name %}
{% set args = config.training.loss.params %}

{% if name == "cross_entropy" %}
criterion = torch.nn.CrossEntropyLoss(**{{ args }})
{% elif name == "bce" %}
criterion = torch.nn.BCELoss(**{{ args }})
{% elif name == "bce_with_logits" %}
criterion = torch.nn.BCEWithLogitsLoss(**{{ args }})
{% elif name == "mse" %}
criterion = torch.nn.MSELoss(**{{ args }})
{% elif name == "l1" %}
criterion = torch.nn.L1Loss(**{{ args }})
{% else %}
raise NotImplementedError("Unsupported loss: {{ name }}")
{% endif %}