{%- raw -%}
def train_one_epoch(model, loader, criterion, optimizer, device):
    model.train()
    for batch in loader:
        inputs, targets = batch
        inputs, targets = inputs.to(device), targets.to(device)
        optimizer.zero_grad()
        outputs = model(inputs)
        loss = criterion(outputs, targets)
        loss.backward()
        optimizer.step()
{%- endraw -%}