{% macro RegexTokenizer(pattern) %}
RegexTokenizer(
    pattern={{ pattern }}
)
{% endmacro %}

{% macro SentencePieceTokenizer(sp_model) %}
SentencePieceTokenizer(
    sp_model={{ sp_model }}
)
{% endmacro %}

{% macro VocabTransform(vocab) %}
VocabTransform(
    vocab={{ vocab }}
)
{% endmacro %}

{% macro ToTensor(dtype) %}
ToTensor(
    dtype={{ dtype }}
)
{% endmacro %}

{% macro Truncate(max_seq_len) %}
Truncate(
    max_seq_len={{ max_seq_len }}
)
{% endmacro %}

{% macro PadTransform(max_length, pad_value=0) %}
PadTransform(
    max_length={{ max_length }},
    pad_value={{ pad_value }}
)
{% endmacro %}

{% macro AddToken(token, begin) %}
AddToken(
    token={{ token }},
    begin={{ begin }}
)
{% endmacro %}

{% macro BARTTokenizer(tokenizer) %}
BARTTokenizer(
    tokenizer={{ tokenizer }}
)
{% endmacro %}

{% macro LabelToIndex(label_names) %}
LabelToIndex(
    label_names={{ label_names }}
)
{% endmacro %}
