{% macro conformer(input_dim, num_heads, ffn_dim, num_layers, depthwise_conv_kernel_size, dropout=0.0, use_group_norm=False, convolution_first=False) %}
Conformer(
    input_dim={{ input_dim }},
    num_heads={{ num_heads }},
    ffn_dim={{ ffn_dim }},
    num_layers={{ num_layers }},
    depthwise_conv_kernel_size={{ depthwise_conv_kernel_size }},
    dropout={{ dropout }},
    use_group_norm={{ use_group_norm }},
    convolution_first={{ convolution_first }}
)
{% endmacro %}

{% macro wave2letter(num_classes=40, input_type='waveform', num_features=1) %}
Wave2Letter(
    num_classes={{ num_classes }},
    input_type='{{ input_type }}',
    num_features={{ num_features }}
)
{% endmacro %}

{% macro wavernn(upsample_scales, n_classes, hop_length, n_res_block=10, n_rnn=512, n_fc=512, kernel_size=5, n_freq=128, n_hidden=128, n_output=128) %}
WaveRNN(
    upsample_scales={{ upsample_scales }},
    n_classes={{ n_classes }},
    hop_length={{ hop_length }},
    n_res_block={{ n_res_block }},
    n_rnn={{ n_rnn }},
    n_fc={{ n_fc }},
    kernel_size={{ kernel_size }},
    n_freq={{ n_freq }},
    n_hidden={{ n_hidden }},
    n_output={{ n_output }}
)
{% endmacro %}